-
  const cdnDomains = [
    'https://ajax.googleapis.com/',
    'https://fonts.googleapis.com/',
    'https://storage.googleapis.com/',
    'https://cdnjs.cloudflare.com/',
    'https://unpkg.com/'
  ];
  const cdnJsFiles = [
    '/js/modernizr-custom.js',
    'https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/localforage/1.7.3/localforage.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.5.3/rxjs.umd.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.5/pixi.min.js',
  ];
  const cdnCssFiles = [
    'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css',
  ];
  const jsFiles = cdnJsFiles.concat(htmlWebpackPlugin.files.js);
  const cssFiles = cdnCssFiles.concat(htmlWebpackPlugin.files.css);
  htmlWebpackPlugin.files.js = [];
  htmlWebpackPlugin.files.css = [];
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="default")
    meta(name="theme-color", content="#ffffff")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    title Comic Frontier Booth Map
    each url in cdnDomains
      link(rel="dns-prefetch" href=url)
    each url in jsFiles
      - if (url.indexOf("://") > 0)
        link(rel="preload", as="script", href=url, crossorigin="anonymous")
      - else
        link(rel="preload", as="script", href=url)
    each url in cssFiles
      link(rel="preload", as="style", href=url, onload!="this.onload=null;this.rel='stylesheet'")
      noscript
        link(rel="stylesheet", href=url)
  body
    div#container
      div#app Loading...
      div#stage
    each url in jsFiles
      - if (url.indexOf("://") > 0)
        script(src=url crossorigin="anonymous")
      - else
        script(src=url)
